.change-language {
    position: relative;
}

.toggle-lang {
    width: fit-content;
    cursor: pointer;
}

.change-language .flag {
    width: 30px;
    border-radius: 50%;
}
.dropdown-item{
    position: absolute;
    top: 55px;
    background-color: #ffffff;
    width: 120px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    z-index: 10;
}
.dropdown-item li{
    width: 100%;
    margin: 2px 0;
    cursor: pointer;
    color: #919191;
    font-size: .9rem;
    height:fit-content;
}
.dropdown-item li:hover{
    background-color: #e8e8e8;
}
